<div class="layout">
    <h1>Let's Play</h1>

    
    <div class="card-container">
      @for(item of gamesList; track item.id){
      <mat-card class="example-card" appearance="outlined">
        <mat-card-header>
          <mat-card-title>{{item.name}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <h3>{{item.description}}</h3>
          <button mat-stroked-button (click)="openDialog(item.id)">start game</button>
        </mat-card-content>
      </mat-card>
      }

    </div>
  </div>
