<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="main-page">
    <app-header></app-header>
    <form #myForm="ngForm"  appearance="outline">
        <div>
            <mat-form-field>
                <mat-label>Category Name</mat-label>
                <input matInput [(ngModel)]="category_name" name="category_name" required>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Source Language</mat-label>
                <input matInput   name="source_language" value="English" readonly>
    
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
            <mat-label>Target Language</mat-label>
            <input matInput name="target_language" value="Hebrew" readonly>
    
            </mat-form-field>
            
        </div>
            <div class="words-table-lable"><h2>words Table</h2></div>
    
            <div>
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    
                    <ng-container matColumnDef="Origin">
                        <th mat-header-cell *matHeaderCellDef>Origin</th>
                        <td mat-cell *matCellDef="let element"> {{element.Origin}}</td>
                      </ng-container>
                      
                      <ng-container matColumnDef="Dest">
                        <th mat-header-cell *matHeaderCellDef>Dest</th>
                        <td mat-cell *matCellDef="let element"> {{element.Dest}}</td>
                      </ng-container>
                      
                    <ng-container matColumnDef="Actions">
                      <th mat-header-cell *matHeaderCellDef>Actions</th>
                      <td mat-cell *matCellDef="let element">
                        <div class="action-buttons">  
                            <div class="delete-button"><button (click)="delete_word(element)"> <mat-icon>delete</mat-icon></button></div>
                        </div>
                      </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
            
            </div>
            <div class="addnewword">
                <div class="input-container">
                  <mat-label>English word:</mat-label>
                  <input name="new_source_word" [(ngModel)]="new_source_word">
                </div>
                <div class="input-container">
                  <mat-label>Hebrew word:</mat-label>
                  <input name="new_target_word" [(ngModel)]="new_target_word">
                </div>
                <div class="add-word-button">
                  <button type="button" (click)="add_word()">+ Add new word</button>
                </div>
              </div>
                                        
              <div class="save-button"> <button type="submit"  (click)="onSubmit(myForm.value)" [disabled]="!myForm.valid" mat-raised-button color="primary">Save</button> </div>
    
      </form>
        <app-footer></app-footer>
    </div>
</body>
</html>
