<div class="container">

    <h1>You're learning:</h1>
    <div class="categories-view-container">

        <mat-card  class="card-container" >

            <mat-card-content class="count-number">
                <strong>{{this.gamesPlayedNumber}}</strong>
            </mat-card-content>
            
            <mat-card-content class="card-name">
                Games
            </mat-card-content>

        </mat-card>

        <mat-card  class="card-container" >

            <mat-card-content class="count-number">
                <strong>{{this.totalPoints}}</strong>
            </mat-card-content>
            
            <mat-card-content class="card-name">
                Points
            </mat-card-content>

        </mat-card>
        <mat-card  class="card-container" >

            <mat-card-content class="count-number">
                <strong>{{this.categoriesLearnedNumber}}</strong>
            </mat-card-content>
            
            <mat-card-content class="card-name">
                Categories Learned
            </mat-card-content>

        </mat-card>
        <mat-card  class="card-container" >

            <mat-card-content class="count-number">
                <strong>{{this.categoriesLeftNumber}}</strong>
            </mat-card-content>
            
            <mat-card-content class="card-name">
                Categories Left
            </mat-card-content>

        </mat-card>

        <mat-card  class="card-container" >

            <mat-card-content class="count-number">
                <strong>{{this.gameWithHighestAverage}}</strong>
            </mat-card-content>
            
            <mat-card-content class="card-name">
                Highest Average Game
            </mat-card-content>

        </mat-card>
        <mat-card  class="card-container" >

            <mat-card-content class="count-number">
                <strong>{{this.gameWithLowestAverage}}</strong>
            </mat-card-content>
            
            <mat-card-content class="card-name">
                Lowest Average Game
            </mat-card-content>

        </mat-card>
        <mat-card  class="card-container" >

            <mat-card-content class="count-number">
                <strong>{{this.fullMarksPercentage}}</strong>
            </mat-card-content>
            
            <mat-card-content class="card-name">
                Full Mark Games
            </mat-card-content>

        </mat-card>
        <mat-card  class="card-container" >

            <mat-card-content class="hours-played">
                <strong>{{this.hoursPlayed}}</strong>
            </mat-card-content>
            
            <mat-card-content class="card-name">
                Hours Played
            </mat-card-content>

        </mat-card>
        <mat-card  class="card-container" >

            <mat-card-content class="hours-played">
                <strong>{{this.averageGameDuration}}m</strong>
            </mat-card-content>
            
            <mat-card-content class="card-name">
                Average Game Duration
            </mat-card-content>

        </mat-card>
        <mat-card  class="card-container" >

            <mat-card-content class="completedGames">
                <strong>{{this.completedGamesPercentage}}</strong>
            </mat-card-content>
            
            <mat-card-content class="card-name">
                Game Completed on Time
            </mat-card-content>

        </mat-card>

    </div>
</div>